* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

:root {
  --color-brown-dark: #2c1a0e;
  --color-brown-medium: #5e3a22;
  --color-brown-light: #9c6b48;
  --color-beige: #f2d6b3;
  --color-cream: #fff8e7;
  --color-gold: #ffd700;

  --font-title: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-beige);
  background-color: var(--color-brown-dark);
  line-height: 1.6;

  background-color: var(--color-brown-dark);
}

h1,
h2 {
  /* font-family: var(--font-title); */
  color: var(--color-gold);
}

/* header */

header {
  font-size: 20px;
  background-color: var(--color-cream);
}

/* NAV */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f8f8f8; */
}

.logo img {
  width: 80px;
  mix-blend-mode: multiply;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--color-brown-dark);
}

.menu-icon {
  display: none;
  font-size: 3rem;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

li a:hover {
  /* color: #8a4e29; */
  font-weight: bold;
  color: white;
  background-color: #1e130c;
  border-radius: 5px 2.5px;
  padding: 0.5rem;
  transition-duration: 0.5s;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/WhatsApp\ Image\ 2024-10-24\ at\ 21.12.54.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  border: 2px solid black;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.hero-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 3px 3px 2px black;
  /* text-shadow: 3px 3px 10px black; */
  color: var(--color-gold);
  /* opacity: 0;
  animation: fade 1s forwards;  */
}

.hero-container p {
  font-size: 2em;
  color: var(--color-cream);
  font-weight: bold;
  /* opacity: 0;
  animation: fade 1s forwards, slide-right 1s; */
}

.hero-container p span {
  color: var(--color-gold);
  text-shadow: 3px 3px 2px black;
  font-weight: bolder;
}

/* boton */

.contact-btn {
  background-color: var(--color-brown-medium);
  color: var(--color-cream);
  border: 2px solid var(--color-gold);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fade 1s forwards, slide-right 1s;
}

.contact-btn:hover {
  background-color: var(--color-gold);
  color: var(--color-brown-dark);
  border-color: var(--color-brown-dark);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* seccion nosotros */

.como-llegar {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* text-align: end; */
  padding: 12px;
}

.info h2 {
  font-size: 2rem;
  /* color: white; */
  font-weight: bold;
  color: var(--color-beige);
  opacity: 0;
  animation: fade 1s forwards, slide-up 1s;
}

.info p {
  font-size: 17px;
  color: var(--color-cream);
  opacity: 0;
  animation: fade 1s forwards, slide-up 1s;
  animation-delay: 0.5s;
}

.map {
  opacity: 0;
  animation: fade 2s forwards, slide-right 1.5s;
}

/* slider */

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 35px 0px;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 12s infinite alternate-reverse;
}

.slider li {
  list-style: none;
  width: 100%;
}

.slider img {
  width: 100%;
}

/* seccion opiniones  */

.opinion-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 10px 50px;
}

.opinion {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: auto;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  padding: 20px;
  border: 1.5px solid white;
}

.opinion-h2 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  line-height: 1.3em;
  font-size: 3rem;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.opinion-img {
  width: 100px;
  margin-bottom: 36px;
}

.opinion-txt {
  padding: 10px;
  text-align: center;
}

.opinion-title {
  margin: auto;
}

/* Seccion Reservas */

.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacto h2 {
  margin-bottom: 20px;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  border-radius: 7px;
  padding: 5px;
}

form textarea {
  border-radius: 7px;
  padding: 20px;
}

form button {
  background-color: var(--color-brown-medium);
  color: var(--color-cream);
  border: 2px solid var(--color-gold);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form button:hover {
  background-color: var(--color-gold);
  color: var(--color-brown-dark);
  border-color: var(--color-brown-dark);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* boton whats app */

.wsp-button {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 15px;
  right: 15px;
  background: green;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  cursor: pointer;
}

.wsp-icon {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 40px;
  margin-top: 6px;
}

.wsp-button:hover {
  text-decoration: none;
  background: #0df053;
  color: rgb(226, 224, 224);
  transition: 0.8s;
}

/* Footer */

footer {
  width: 100%;
  text-align: center;
  padding: 36px;
  color: rgb(116, 127, 140);
}

footer span {
  color: rgb(175, 48, 48);
  font-weight: 800;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* Media queries */

@media screen and (max-width: 1200px) {
  .como-llegar,
  .opinion-container,
  .contacto {
    padding: 20px;
  }

}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-evenly;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    background-color: var(--color-brown-light);
    border: 1px solid black;
  }

  .menu-icon {
    color: var(--color-brown-dark);
    margin-bottom: 12px;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  .menu-toggle:checked ~ .menu {
    display: flex;
  }

  /* Hero */
  .hero-container h1 {
    font-size: 2em;
  }

  .hero-container p {
    font-size: 1.5em;
  }

  /* Como llegar */
  .como-llegar {
    flex-direction: column;
  }

  .info {
    text-align: center;
  }

  .map iframe {
    width: 100%;
    height: 300px;
  }

  /* Opiniones */
  .opinion-container {
    flex-direction: column;
    align-items: center;
  }

  .opinion {
    width: 90%;
    margin-bottom: 20px;
  }

  .opinion-h2 {
    font-size: 2rem;
  }

  /* Reserva */
  .contacto {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 480px) {
  /* Hero */
  .hero {
    background-position: right;
  }

  .hero-container h1 {
    font-size: 1.5em;
  }

  .hero-container p {
    font-size: 1em;
  }

  .contact-btn {
    font-size: 1.2rem;
  }

  /* Opiniones */
  .opinion-h2 {
    font-size: 1.5rem;
  }
}

/* keyframes*/

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    translate: 0 100px;
  }
  to {
    translate: 0;
  }
}

@keyframes slide-right {
  from {
    translate: 100px 0;
  }
  to {
    translate: 0;
  }
}
